/*********
* Reset
**********/
*{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
span{
  letter-spacing: 1.5px;
}
.flex-box-row{
  display: flex;
  flex-wrap: wrap;
}
.flex-box-align-items-center{
  align-items: center;
}
.margin-right-10{
  margin-right: 10px;
  color:#222222;
}
.margin-right-20{
  margin-right: 20px;
}
.margin-left-20{
  margin-left: 20px;
}
.justify-content-space-between{
  justify-content:space-between
}
.border-botton{
  border-bottom: 1px solid rgb(112,112,112,0.2);
}
.border-top{
  border-top: 1px solid rgb(112,112,112,0.1);
}

.task-li{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-between;
  border-bottom: 1px solid rgb(112,112,112,0.2);
}
.task-li:hover{
  background-color: #DEDEDE;
  cursor: pointer;
}
.span-btn-pulus{
  padding:5px 10px;
}
.span-btn-pulus:hover {
  color:#FF8700 ;
}

/*************************
*  Estilizando o cabeçalho
**************************/
header{
 background-color: #101010;
 
}
.nav-header{
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  display: flex;
  /*justify-content: space-between;*/
  flex-wrap: wrap;
  height: 60px;

}
.nav-header .div-munu-hamburg{
  display: inline-block;
}
.nav-header .div-munu-hamburg input[type=checkbox]{
  display: none;
}
.nav-header .div-munu-hamburg label{
  color:#fff;
}
.nav-header .div-munu-hamburg label i{
  height: 100%;
  width: 100%;
  font-size: 20px;
}
.nav-header .logo{
  display: inline-block;
  margin-left: 30px;
}
.nav-header-left{
  display: flex;
  flex-grow: 5;
  align-items: center;
}
.nav-header .logo a{
  color:#FF8700;
  text-decoration: none;
  font-family: 'PT Serif', serif;
  font-size: 1.5em;
}
.nav-header .logo a span{
  color: #FFFFFF;
}
.nav-header .nav-header-right{
  display: flex;
  align-items: center;
  flex-grow: 5;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav-header-right .div-search{
  position: relative;
}
.nav-header-right .div-search input{
  box-sizing: border-box;
  display: inline-block;
  width: 286px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 30px;
  background-color: #DEDEDE;
  border: 0px;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.875em;
  color: #222222;
  box-sizing: border-box;
}
.nav-header-right .div-search input:focus{
  outline: none;
}
.nav-header-right .div-search input::-webkit-input-placeholder {
  font-size: 0.875em;
}
.nav-header-right .div-search .span-icon-search{
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 1.25em;
}
.nav-header-right-info{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.nav-header-right-info .div-plus-sign span{
  font-size: 1.25em;
  color:#FF8700;
  cursor: pointer;
  padding: 5px;
}
.nav-header-right-info .nav-header-right-info-name{
  font-family: 'Roboto Mono', monospace;
  font-size: 0.875em;
  color:#fff;
  margin-left: 60px;
}
.div-img-perfil{
  background-color: #FF8700;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

/*************************
*  Estilizando o container
**************************/
.continer{
  display: flex;
  width: 100%;
  height: calc(100vh - 60px);
}

/***************************************
*  Estilizando o container lado esquerodo
****************************************/
.continer-left{
  background-color: #DEDEDE;
  height: 100%;
  flex: 2;
  padding-left: 20px;
}
.continer-left-nav{
  padding-top: 30px;
  padding-right: 10px;
}

.continer-left-nav-li{
  padding-left: 10px;
}
.continer-left-nav li a{
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.continer-left-nav li a p{
  display: flex;
  align-items: center;
}
.continer-left-nav-li:hover {
  background-color: #fff;
}
.continer-left-nav li a i{
  color:#222222;
}
.continer-left-nav li a span{
  color:#222222;
  font-family:TimesNewRoman, "Times New Roman";
  /*font-family: 'Roboto Mono', monospace;*/
  font-size: 0.875em;
  margin-left: 10px;
}
.li-border{
  border-bottom: 1px solid rgb(112,112,112,0.2);
}
.button-dropdown{
  display: block;
  width: 100%;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  cursor: pointer;
  border:none;
  background-color: #DEDEDE;
  font-size: 0.875em;
  font-family:TimesNewRoman, "Times New Roman";
  color:#222222;
  /*font-family: 'Roboto Mono', monospace;*/
  display: flex;
  justify-content: space-between;
}

.button-dropdown p{
  display: flex;
  align-items: center;
}
.button-dropdown  i{
  color:#222222;
}

.button-dropdown p span{
  margin-left: 10px;
}

.ul-dropdown{
  /*display: none;*/
  max-height: 300px;
  overflow-y: scroll;
}
.ul-dropdown::-webkit-scrollbar {
  display: none;
}

.ul-dropdown-span-i{
  height: 14px;
  width: 14px;
  display: inline-block;
}
.ul-dropdown i{
  display: flex;
  font-size: 0.655em;
  color:#484B4D;
}
.ul-dropdown-span-text{
  margin-left: 10px;
  display: inline-block;
  max-width: 150px;
}

/***************************************
*  Estilizando o container lado direito
****************************************/
.continer-right{
  background-color: #fff;
  height: 100%;
  flex:8;
  padding-left: 20px;
  padding-top: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  overflow-y: scroll;
    
}
.container-task{
  box-sizing: border-box; 
  
}

.container-task-titulo{
  font-family: 'PT Serif', serif;
  font-size: 1.5em;
  margin-bottom: 20px;
  padding-left: 10px;
}
.p-add-tarefa{
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  /*font-family:TimesNewRoman, "Times New Roman";*/
  font-family: 'Roboto Mono', monospace;
  font-size: 0.875em;
  color: #222222;
  letter-spacing: 1px;
  cursor: pointer;
}
.p-add-tarefa-text-i{
  color:rgb(32,32,32,0.5);
}
.p-add-tarefa-text{
  margin-left: 20px;
}
.p-add-tarefa:hover{
  color:#FF8700;
}
.p-add-tarefa:hover .p-add-tarefa-text-i{
  color:#FF8700;
}

/************************
* adicionando nova tarefa
*na div nova
***********************/
.div-add-tarefa{
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border: solid 1px #A9AEB3;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.div-add-tarefa-input{
  margin-bottom:15px ;
}
.div-add-tarefa-input input[type="text"]{
  box-sizing: border-box;
  display: inline-block;
  width: 286px;
  height: 30px;
  /*background-color: #DEDEDE;*/
  border: 0px;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.875em;
  color: #222222;
  box-sizing: border-box;
  padding-left: 10px;
  /*border: 1px solid rgb(112,112,112);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px; */
}
.div-add-tarefa-input input[type="text"]:focus{
  outline: none;
}
input::-webkit-input-placeholder {
  font-size: 0.875em;
}
.div-add-tarefa-info{
  display: flex;
  justify-content: space-between;
}
.div-add-tarefa-info-left{
  display: flex;
 
}
.div-add-tarefa-info-right{
  padding-right: 10px;
  align-items: center;
}
.div-add-tarefa-style-btn{
  border: solid 1px #A9AEB3;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
  cursor: pointer;
}
.div-add-tarefa-style-btn-save{
  padding: 5px;
  cursor: pointer;
  color:#fff;
  background-color: #FECA00;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.div-add-tarefa-style-btn-cancelar{
  padding: 5px;
  cursor: pointer;
}
.div-add-tarefa-style-btn-cancelar:hover{
  color:red;
}
.div-add-tarefa-style-btn:hover{
  background-color: #DEDEDE;
}
.div-add-tarefa-style-cololor{
  background-color: #101010;
  color:#FFf;
  border:none !important;
}
/***********/
.li-content-tesk{
  padding: 10px;
  box-sizing: border-box;

}
.li-content-tesk-p-title{
  font-family: 'Roboto Mono', monospace;
  font-size: 0.875em;
  color: #222222;
  letter-spacing: 1px;
  padding-bottom: 5px;
}
.li-content-tesk-div-info{
  font-family: 'Roboto Mono', monospace;
  font-size: 0.75em;
  color: #222222;
  /*<i class="fas fa-check-circle"></i>*/
}


/**********************
*Modal adicionar task 
*rapida
*********************/

.modal::before{
  content:"";
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.8);
  
}
.modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  padding: 80px;
  box-sizing: border-box;
  
}

.modal-container{
  position: relative;
  z-index: 1;
  width: 900px;
  background-color: #fff;
  padding: 20px;
  margin-top: 40px;
}
.modal-container-btn-close{
  position: absolute;
  right: 0;
  top: -50px;
  padding:5px 10px ;
  background-color: #fff;
  font-size: 1.5em;
  cursor: pointer;
}

.modal-add-titulo{
  padding-bottom: 20px;
}
.modal-add-titulo p{
  font-family: 'PT Serif', serif;
  font-size: 1.5em;
  color:#101010;
  }

/**********************
*Modal adicionar novo 
*projeto
*********************/

.modal-projeto::before{
  content:"";
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.8);
}

.modal-projeto{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  padding: 80px;
  box-sizing: border-box;
  
}

.modal-projeto-container{
  position: relative;
  z-index: 1;
  width: 440px;
  /*background-color: #fff;*/
  margin-top: 40px;
  background-color: #DEDEDE;
  
}

.modal-projeto-container-titulo{
  padding: 20px;
}
.modal-projeto-container-titulo p{
  font-family: 'PT Serif', serif;
  font-size: 1.5em;
  color:#101010;
}
.modal-projeto-container-content{
  background-color: #fff;
  padding:20px;
}
.modal-projeto-container-content > div{
  margin-bottom: 10px;
}
.modal-projeto-container-content label{
  display: block;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.875em;
  color: #222222;
  padding: 5px 0px;
}

.modal-projeto-container-content input, 
.modal-projeto-container-content select{
  display: block;
  width: 100%;
  height: 30px;
  border: 2px solid #DEDEDE;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.875em;
  color: #222222;
  padding-left: 10px;
  box-sizing: border-box;
  /*border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;*/
} 
.modal-projeto-container-content select{
  padding-left: 20px;
}
.modal-projeto-container-content input:focus,
.modal-projeto-container-content select:focus
{
  outline: none;
}

.modal-projeto-div-btn{
  padding-top: 20px;
}
.modal-projeto-container-content-text{
  display: block;
  margin-top: 30px;
  margin-bottom: 20px !important;
  color: rgba(0,0,0,.5);
}

.position-relative{
  position: relative ;

}

.modal-projeto-sapn-color{
  position: absolute;
  background-color: #FECA00;
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50px;
  bottom:8px;
  left:10px;
}