/*********
* Reset
**********/
*{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
span{
  letter-spacing: 1.5px;
}
.flex-box-row{
  display: flex;
  flex-wrap: wrap;
}
.flex-box-align-items-center{
  align-items: center;
}
.margin-right-10{
  margin-right: 10px;
  color:#222222;
}
.margin-right-20{
  margin-right: 20px;
}
.margin-left-20{
  margin-left: 20px;
}
.justify-content-space-between{
  justify-content:space-between
}
.border-botton{
  border-bottom: 1px solid rgb(112,112,112,0.2);
}
.task-li:hover{
  background-color: #DEDEDE;
}
/*************************
*  Estilizando o cabeçalho
**************************/
header{
 background-color: #101010;
 
}
.nav-header{
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  display: flex;
  /*justify-content: space-between;*/
  flex-wrap: wrap;
  height: 60px;

}
.nav-header .div-munu-hamburg{
  display: inline-block;
}
.nav-header .div-munu-hamburg input[type=checkbox]{
  display: none;
}
.nav-header .div-munu-hamburg label{
  color:#fff;
}
.nav-header .div-munu-hamburg label i{
  height: 100%;
  width: 100%;
  font-size: 20px;
}
.nav-header .logo{
  display: inline-block;
  margin-left: 30px;
}
.nav-header-left{
  display: flex;
  flex-grow: 5;
  align-items: center;
}
.nav-header .logo a{
  color:#FF8700;
  text-decoration: none;
  font-family: 'PT Serif', serif;
  font-size: 1.5em;
}
.nav-header .logo a span{
  color: #FFFFFF;
}
.nav-header .nav-header-right{
  display: flex;
  align-items: center;
  flex-grow: 5;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav-header-right .div-search{
  position: relative;
}
.nav-header-right .div-search input{
  box-sizing: border-box;
  display: inline-block;
  width: 286px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 30px;
  background-color: #DEDEDE;
  border: 0px;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.875em;
  color: #222222;
  box-sizing: border-box;
}
.nav-header-right .div-search input:focus{
  outline: none;
}
.nav-header-right .div-search input::-webkit-input-placeholder {
  font-size: 0.875em;
}
.nav-header-right .div-search .span-icon-search{
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 1.25em;
}
.nav-header-right-info{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.nav-header-right-info .div-plus-sign span{
  font-size: 1.25em;
  color:#FF8700;
}
.nav-header-right-info .nav-header-right-info-name{
  font-family: 'Roboto Mono', monospace;
  font-size: 0.875em;
  color:#fff;
  margin-left: 60px;
}
.div-img-perfil{
  background-color: #FF8700;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

/*************************
*  Estilizando o container
**************************/
.continer{
  display: flex;
  width: 100%;
  height: calc(100vh - 60px);
}

/***************************************
*  Estilizando o container lado esquerodo
****************************************/
.continer-left{
  background-color: #DEDEDE;
  height: 100%;
  flex: 2;
  padding-left: 20px;
}
.continer-left-nav{
  padding-top: 30px;
  padding-right: 10px;
}

.continer-left-nav-li{
  padding-left: 10px;
}
.continer-left-nav li a{
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.continer-left-nav li a p{
  display: flex;
  align-items: center;
}
.continer-left-nav-li:hover {
  background-color: #fff;
}
.continer-left-nav li a i{
  color:#222222;
}
.continer-left-nav li a span{
  color:#222222;
  font-family:TimesNewRoman, "Times New Roman";
  /*font-family: 'Roboto Mono', monospace;*/
  font-size: 0.875em;
  margin-left: 10px;
}
.li-border{
  border-bottom: 1px solid rgb(112,112,112,0.5);
}
.button-dropdown{
  display: block;
  width: 100%;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  cursor: pointer;
  border:none;
  background-color: #DEDEDE;
  font-size: 0.875em;
  font-family:TimesNewRoman, "Times New Roman";
  color:#222222;
  /*font-family: 'Roboto Mono', monospace;*/
  display: flex;
  justify-content: space-between;
}

.button-dropdown p{
  display: flex;
  align-items: center;
}
.button-dropdown  i{
  color:#222222;
}

.button-dropdown p span{
  margin-left: 10px;
}

.ul-dropdown{
  /*display: none;*/
}

.ul-dropdown-span-i{
  height: 14px;
  width: 14px;
  display: inline-block;
}
.ul-dropdown i{
  display: flex;
  font-size: 0.655em;
  color:#484B4D;
}
.ul-dropdown-span-text{
  margin-left: 10px;
  display: inline-block;
  max-width: 150px;
}

/***************************************
*  Estilizando o container lado direito
****************************************/
.continer-right{
  background-color: #fff;
  height: 100%;
  flex:8;
  padding-left: 20px;
  padding-top: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  /*overflow-y: scroll;*/
    
}
.container-task{
  box-sizing: border-box; 
  
}
.container-task-titulo{
  font-family: 'PT Serif', serif;
  font-size: 1.5em;
  margin-bottom: 20px;
  padding-left: 10px;
}
.p-add-tarefa{
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  /*font-family:TimesNewRoman, "Times New Roman";*/
  font-family: 'Roboto Mono', monospace;
  font-size: 0.875em;
  color: #222222;
  letter-spacing: 1px;
  cursor: pointer;
}
.p-add-tarefa-text-i{
  color:rgb(32,32,32,0.5);
}
.p-add-tarefa-text{
  margin-left: 20px;
}
.p-add-tarefa:hover{
  color:#FF8700;
}
.p-add-tarefa:hover .p-add-tarefa-text-i{
  color:#FF8700;
}
.li-content-tesk{
  padding: 10px;
  box-sizing: border-box;

}
.li-content-tesk-p-title{
  font-family: 'Roboto Mono', monospace;
  font-size: 0.875em;
  color: #222222;
  letter-spacing: 1px;
  padding-bottom: 5px;
}
.li-content-tesk-div-info{
  font-family: 'Roboto Mono', monospace;
  font-size: 0.75em;
  color: #222222;
  /*<i class="fas fa-check-circle"></i>*/
}
