<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
  <title>Users</title>
</head>
<body>
  <div id="app">
    <!-- Cabeçalho-->
    <header id="header">
      <comp-menu></comp-menu>
    </header>
    <!-- Fim Cabeçalho-->

    <!-- Container-->
    <div class="continer" >
      <!-- Container-Left -->
      <section class="continer-left" id="aside"> 
        <comp-aside></comp-aside>
      </section>
      <!-- Fim-Container-Left -->

      <!-- Container-Right -->
      <section class="continer-right">
        <div class="container-task">
          <h2 class="container-task-titulo">Tasks</h2>
          <div>
            <p class="p-add-tarefa" v-on:click="activeTarefa= !activeTarefa" v-if="!activeTarefa">
              <span class="p-add-tarefa-text-i">
                <i  class="fa fa-plus "></i>
              </span>
              <span class="p-add-tarefa-text">
                Adicionar tarefa
              </span>
            </p>
          </div>
          <div class="div-add-tarefa" v-if="activeTarefa">
            <div class="div-add-tarefa-input">
              <input type="text" placeholder="Nome da tarefa" autofocus>
            </div>
            <div class="div-add-tarefa-info">
              <div class="div-add-tarefa-info-left">
                <div class="margin-right-20 div-add-tarefa-style-btn">
                  <span><i  class="fa fa-folder-o"></i></span>
                  <span> Escolher Projeto</span>
                </div>
                <div class="margin-right-20 div-add-tarefa-style-btn">
                  <span><i  class="fa fa-calendar"></i></span>
                  <span> Agendar</span>
                </div>
                <div class="margin-right-20 div-add-tarefa-style-btn">
                  <span><i  class="fa  fa-bell-o"></i></span>
                </div>
                <div class="margin-right-20 div-add-tarefa-style-btn">
                  <span><i  class="fa fa-circle-o"></i></span>
                  <span> Categoria</span>
                </div>
              </div>
              <div class="div-add-tarefa-info-right">
                <span class="margin-right-20 div-add-tarefa-style-btn-save" v-on:click="activeTarefa= !activeTarefa">
                  Adicionar Terefa
                </span>
                <span class="div-add-tarefa-style-btn-cancelar" v-on:click="activeTarefa= !activeTarefa">
                  Cancelar
                </span>
              </div>
            </div>
          </div>
        </div>
        
        <ul class="">
          <li v-for = "task in tasks" v-bind:key="task.id" class="li-content-tesk  task-li">
              <div class="flex-box-row flex-box-align-items-center">
                <div>
                  <span>
                    <i  class="fa fa-circle-o"></i>
                  </span>
                </div>
                <div class="margin-left-20 ">
                  <p class="li-content-tesk-p-title">
                    {{task.titulo}}
                  </p>
                  <div  class="flex-box-row li-content-tesk-div-info">
                    <div class="margin-right-20">
                      <span><i  class="fa fa-folder-o"></i></span>
                      <span>{{task.projeto}}</span>
                    </div>
                    <div class="margin-right-20">
                      <span><i  class="fa fa-bell-o"></i></span>
                    </div>
                    <div class="margin-right-20">
                      <span><i  class="fa fa-calendar"></i></span>
                      <span>{{task.data_execucao}}</span>
                    </div>
                    <div class="margin-right-20">
                      <span><i  class="fa fa fa-circle-o"></i></span>
                      <span>{{task.categoria}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="div-content-tesk-star">
                <span>
                  <span><i  class="fa fa fa-star-o"></i></span>
                </span>
              </div>
          </li>      
        </ul>

      </section>
      <!-- Fim-Container-Right -->

      <!-- Fim Seção Task -Rapido-->
        <comp-modal-task>
          
        </comp-modal-task>
      <!-- Fim Container-->

       <!-- Seção Adicionar Projeto -->
     
        <comp-modal-projeto>
          
        </comp-modal-projeto>
      
      <!-- Fim Seção Adicionar Projeto -->
      
    </div>
    <!-- Fim Container-->

  </div>
  <!-- Fim app-->
  <script src="assets/js/vue.js"></script>
  <script type="module" src="assets/js/app.js"></script>
</body>
</html>